/* https://codepen.io/fsanterva/pen/dyjLEX */

#preloader {
    /* position: absolute;
    margin: 0 auto;
    padding: 0.3%;
    left: 0;
    top: 50%;
    right: 0;
    width: 200px;
    height: 200px; */

    /* width: 100px;
    height: 100px; */

    /* border: solid 14px #444; */
    /* border-radius: 50%; */
}

#preloader .a {
    /* position: absolute;
    inset: 0; */
    /* margin: 0 auto 0; */
    /* padding: 3%;
    width: 100%;
    height: 100%; */

    /* vertical-align: middle; */

    /* background: transparent; */
    /* border-top: solid 8px transparent;
    border-right: solid 8px #444;
    border-bottom: solid 8px transparent;
    border-left: solid 8px #444; */
    /* border-radius: 50%; */
}

#preloader .b {
    /* position: absolute;
    inset: 0; */

    /* margin: 0 auto 0; */
    /* padding: 4%;
    width: 100%;
    height: 100%; */

    /* vertical-align: middle; */

    /* background: transparent;
    border-top: solid 36px #444;
    border-right: solid 36px transparent;
    border-bottom: solid 36px #444;
    border-left: solid 36px transparent;
    border-radius: 50%; */
}

/* Animations */

/* #preloader {
    animation: preloaderscaling 1s infinite linear;
}

@keyframes preloaderscaling {
    0% {
        transform: scale(0.36);
        box-shadow: 0 0 0 #444, 0 0 0 #444, 0 0 0 #444, 0 0 0 #444;
    }

    50% {
        transform: scale(0.3);
        box-shadow: 0 0 0 #444, 0 0 0 #444, 0 0 0 #444, 0 0 0 #444;
    }

    100% {
        transform: scale(0.36);
        box-shadow: 0 0 0 #444, 0 0 0 #444, 0 0 0 #444, 0 0 0 #444;
    }
} */

#preloader .a {
    animation: rotate-clock-wise 3s infinite linear;
}

@keyframes rotate-clock-wise {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

#preloader .b {
    animation: rotate-anti-clock-wise 0.9s infinite linear;
}

@keyframes rotate-anti-clock-wise {
    0% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}
