/* https://codepen.io/fsanterva/pen/dyjLEX */

/* Animations */

/* #preloader {
    animation: preloaderscaling 1s infinite linear;
}

@keyframes preloaderscaling {
    0% {
        transform: scale(0.36);
        box-shadow: 0 0 0 #444, 0 0 0 #444, 0 0 0 #444, 0 0 0 #444;
    }

    50% {
        transform: scale(0.3);
        box-shadow: 0 0 0 #444, 0 0 0 #444, 0 0 0 #444, 0 0 0 #444;
    }

    100% {
        transform: scale(0.36);
        box-shadow: 0 0 0 #444, 0 0 0 #444, 0 0 0 #444, 0 0 0 #444;
    }
} */

.a {
    animation: rotate-clock-wise 3s infinite linear;
}

@keyframes rotate-clock-wise {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.b {
    animation: rotate-anti-clock-wise 0.9s infinite linear;
}

@keyframes rotate-anti-clock-wise {
    0% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}
