.wrap {
	max-width: 550px;
	height: 500px;

    display: flex;
	gap: .5rem;
	overflow-y: hidden;
}

.strip {
	position: relative;
	padding: 0 .25rem;	

	height: 0;
    opacity: 0;

	flex: 20%;

	text-align: center;
	border: 1px solid white;
	border-radius: 3px;

	transition: flex .3s ease-in-out;

	cursor: pointer;
	overflow: hidden;

	display: grid;
	grid-template-rows: 10% 60% 15% 15%;
	place-items: center;
}
.strip > * {
	margin: auto;
}
.strip:hover {
	transition: all .5s ease;
	flex: 100%;
}

.one {background: khaki;}
.two {background: lightcoral;}
.three {background: peru;}
.four {background: wheat;}
.five {background: tan;}

.crown {
	justify-self: center;

	padding-bottom: 1rem;

	width: 50px;
	font-size: 1.75rem;
	font-weight: 100;
	border-bottom: .2vmin solid #000;
}

.h1 {
	align-self: center;

	font-size: 2rem;
	font-weight: 200;
	line-height: 1;
    
    transform: rotate(-180deg);
	writing-mode: vertical-rl;
	text-orientation: sideways;
	
	transition: transform .2s ease-in-out;
}
.strip:hover .h1 {
  transform: rotate(-90deg) translateX(10rem);
  z-index: 10;
}
.h2 {
	padding: .5rem 0;
	font-size: 1.25rem;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.h3 {
	font-size: 1.5vmin;
}

.review {
	position: absolute;
	padding: 0 2rem;
	top: 50%;
	left: 50%;
	width: 95%;
	height: 97%;
	transform: translate(-50%, -50%);

	color: #000;
	background: ivory;

	opacity: 0;
}
.strip:hover .review {
	transition: .5s ease-in-out;
	opacity: 1;
}
.review p {
	margin-top: 5rem;
	font-size: 1rem;
	text-align: left;
}

/* 
body {
	min-height: 100vh;
	display: grid;
	place-items: center;
    font-family: 'EB Garamond', serif;
	background: #1a1a1a;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
 */
