.Route {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1024px;
    overflow-x: hidden;
}

.Header {
    margin: 0 0 1rem;
    padding: 0.5rem 1rem;
    max-width: 100%;

    font-size: 1.2em;
    border-radius: 0.5rem;
    background-color: var(--color-panel-background);
    overflow: hidden;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
}

@media (max-width: 500px) {
    .Header {
        font-size: 1.4em;
    }
}

.Title {
    flex: 1 1 auto;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ExampleContainer {
    margin: 2rem 0;
}

.Code {
    display: block;
    padding: 1rem;
    white-space: pre;
    border-radius: 1rem;
    overflow-x: auto;
}
