/* -------------------------- c -------------------------- */
/* common: should be under some class name otherwise tags won't be affected */

.container table {
    --border-color: #545d9e;

    border-spacing: 0;
}

.container th,
.container td {
    padding: 8px;
    text-align: left;
    border: 1px solid #2e3252;
}

.container th {
    background-color: #272a3f;
}

.container td {
    color: #bdbddb;
    background-color: #212335;
}

/* -------------------------- 1 -------------------------- */
/* sticky-header-row */

.sticky-header-row th[scope="col"] {
    position: sticky;
    top: 0;
    border-bottom-color: var(--border-color);
}

/* -------------------------- 2 -------------------------- */
/* sticky-first-column */

.sticky-first-column th[scope="col"]:first-child,
.sticky-first-column th[scope="row"] {
    position: sticky;
    left: 0;
    border-right-color: var(--border-color);
}

/* -------------------------- 3 -------------------------- */
/* sticky-header-and-first-column */

/* sticky header */
.sticky-header-and-first-column th[scope="col"] {
    position: sticky;
    top: 0;
    border-bottom-color: var(--border-color);
}

/* sticky first column */
.sticky-header-and-first-column th[scope="row"] {
    position: sticky;
    left: 0;
    border-right-color: var(--border-color);
}

/* stick first column header to top, left and give z-index to always render it on top */
.sticky-header-and-first-column th[scope="col"]:first-child {
    left: 0;
    z-index: 1;
    border-right-color: var(--border-color);
    border-bottom-color: var(--border-color);
}



/* -------------------------- s -------------------------- */

/* Scrollbar */
.container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
.container::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
    background-color: #9f9ec7;
    border-radius: 10px;
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
    background-color: #8988aa;
}