.wrapper {
    display: block;
    position: relative;
    /* color: white; */
    /* cursor: pointer; */
    overflow: hidden;
}

.mainText {
    display: block;
    transition: transform 500ms;
}

.hoverText {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms;
}

.wrapper:hover .mainText {
    transform: translateY(-100%);
    transition: transform 250ms;
}

.wrapper:hover .hoverText {
    transform: translateY(0%);
    transition: transform 250ms;
}
