.wrapper {
    position: relative;
    margin: 0 auto;
    padding: 64px 0 0;
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
}

.list-overlay {
    background: #2090FF;
}

.button {
    padding: 16px;
    height: 34px;
    border-radius: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 8px;
}

.button.button-overlay {
    color: #fff;
}

.clip-path-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    transition: clip-path 0.25s ease;

    clip-path: inset(0px 75% 0px 0% round 17px);
    z-index: 10;
}
