.wrapper span {
    display: inline-block;
    margin: 0 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* background-color: white; */
    background-color: currentColor;

    animation: flashing 2.4s infinite linear;
}

.wrapper span:nth-child(2) {
    animation-delay: 0.2s;
}

.wrapper span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes flashing {
    0% {
        opacity: 0.2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}
