.splitpane-content {
    flex: 1;
    /* for Firefox, otherwise it overflows the parent*/
    min-height: 0;
    min-width: 0;
}

.splitpane {
    flex: 1;
    /* for Firefox, otherwise it overflows the parent*/
    min-height: 0;
    min-width: 0;
}

.splitpane-divider {
    /*background-color: #ddd;*/
    flex-shrink: 0;
    z-index: 1000;
    transition: background-color .1s ease .4s;
}

.splitpane-divider.horizontal {
    width: 3px;
}

.splitpane-divider.vertical {
    height: 3px;
}

.splitpane-divider:hover {
    background-color: hsl(212, 100%, 59%);
    /* background-color: #999; */
    /* cursor: col-resize; */
    cursor: ew-resize;
}

.splitpane-divider.vertical:hover {
    /* cursor: row-resize; */
    cursor: ns-resize;
}
