.pl3__rect {
    animation: pl1-a 1.5s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

.pl3__rect {
    animation-name: pl3;
}
.pl3__rect-g {
    transform-origin: 64px 64px;
}

/* Animations */

@keyframes pl1-a {
    from {
        transform: rotate(0);
    }
    80%,
    to {
        animation-timing-function: steps(1, start);
        transform: rotate(90deg);
    }
}

@keyframes pl3 {
    from {
        transform: translate(64px, 0);
        width: 64px;
        height: 64px;
    }
    25% {
        transform: translate(0, 0);
        width: 128px;
        height: 32px;
    }
    50% {
        transform: translate(0, 0);
        width: 64px;
        height: 64px;
    }
    75% {
        transform: translate(0, 0);
        width: 32px;
        height: 128px;
    }
    to {
        transform: translate(0, 64px);
        width: 64px;
        height: 64px;
    }
}
